//?
@media (max-width: 2100px) {  
  .exp {
    &-image {
      img {
        max-width: 755px;
      }
    }
  }
  .focus {
    &-card {
      padding: 240px 270px 250px 100px;;
    }
  }
  .boost {
    &-text {
      height: 580px;
    }
    &-btn {
      width: 419px;
      height: 122px;
      min-height: 10px;
      font-size: 28px;
    }
  }
}
@media (max-width: 1800px) {
  .nav {
    &-social {
      &__link {
      svg {
        max-width: 29px;
      }
    }
    }
  }
  .partner {
    &-card {
      img {
        max-width: 81%;
      }
    }
  }
  .focus {
    &-card {
      padding: 240px 250px 250px 70px;  
    }
    &-title {
      max-width: 878px;
    }
  }
  .boost {
    &-text {
      height: 540px;
    }
    &-btn {
      font-size: 22px;
      width: 319px;
      height: 102px;
    }
  }
  .discuss {
    &-btn {
      width: 356px;
      height: 356px;
      &__text {
        font-size: 22px;
      }
      &:hover {
        .discuss {
          &-btn_1, &-btn_2, &-btn_3 {
            width: 241px;
            height: 241px;
          }
        }
      }
      &_hover {
        width: 246px;
        height: 246px;
        &::after { // внешний
          width: 356px;
          height: 356px;
        }
        &::before {
          width: 302px;
          height: 302px;
        }
      }
    }
  }
  .footer {
    &-name,
    &-email {
      font-size: 21px;
    }
    &-dev {
      font-size: 18px;
      margin-left: 35px;
    }
  }
}
@media (max-width: 1920px) {
  .exp {
    &-image {
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 1440px) { 
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .nav {
    padding: 43px 0px 0px 0px;
    &-logo {
      img {
        max-width: 140px;
      }
    }
    &-list {
      margin-left: 78px;
      &-item {
        margin-right: 69px;
        a {
          font-size: calc(12px + 8 * (100vw / 2560));
        }
        &__sale {
          font-size: 12px;
          width: 46px;
          height: 21px;
        }
      }
    }
    &-social {
      &__link {
        margin-right: 40px;
        svg {
          width: 24px;
        }
      }
    }
  }
  .header {
    padding-top: 170px;
    padding-bottom: 328px;
    &-title {
      font-size: calc(38px + 99 * (100vw / 2560));
      margin-bottom: 20px;
    }
    h3 {
      font-size: calc(16px + 15 * (100vw / 2560));
    }
  }
  .exp {
    margin-bottom: 193px;
    &-title {
      font-size: calc(38px + 34 * (100vw / 1440));
      max-width: 492px;
      transform: translateY(0);
    }
    &-text {
      margin-bottom: 50px;
    }
    &-descr {
      font-size: calc(16px + 2 * (100vw / 1440));
      margin-top: 36px;
      p {
        max-width: 492px;
      }
    }
    &-image {
      img {
        max-width: 670px;
        width: 100%;
      }
    }
  }

  .partner {
    margin-bottom: 84px;
    .container-fluid {
      padding-left: 104px;
      padding-right: 170px;
    }
    &-card {
      img {
        max-width: 78px;
      }
    }
  }


  .focus {
    padding: 48px 40px 67px 40px;
    &-title {
      font-size: calc(32px + 18 * (100vw / 1440)); //!
      max-width: 627px;
    }
    &-card {
      padding: 125px 242px 192px 64px;
    }
    &-image {
      img {
        max-width: 132px;
      }
    }
    &-btn {
      max-width: 120px;
      max-height: 120px;
      span {
        width: 36px;
        height: 36px;
      }
      &::after {
        width: 120px;
        height: 120px;
      }
      &:before {
        width: 76px;
        height: 76px;
      }
    }
  }
  .skills {
    &-card {
      font-size: calc(20px + 16 * (100vw / 1440));
    }
  }

  .work {
    padding-top: 180px;
    &-title {
      font-size: calc(38px + 54 * (100vw / 1440));
      margin-bottom: 56px;
    }
    &-item {
      margin-bottom: 21px;
    }
    &-column {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .boost {
    padding: 380px 0px 240px 0px;
    &-title {
      font-size: calc(38px + 54 * (100vw / 1440));
      max-width: 944px;
    }
    &-descr {
      font-size: calc(16px + 2 * (100vw / 1440));
      p {
        max-width: 576px;
      }
    }
    &-btn {
      width: 274px;
      height: 80px;
      font-size: 18px;
    }
    &-text {
      height: 398px;
    }
  }
  .discuss {
    height: 500px;
    &-wrap {
      padding-top: 72px;
      padding-right: 186px;
    }
    &-title {
      font-size: calc(38px + 54 * (100vw / 1440));
    }
    &-btn {
      width: 296px;
      height: 296px;
      &:hover {
        .discuss {
          &-btn_1, &-btn_2, &-btn_3 {
            width: 211px;
            height: 211px;
          }
        }
      }
      &_hover {
        width: 216px;
        height: 216px;
        &::after { // внешний
          width: 296px;
          height: 296px;
        }
        &::before {
          width: 252px;
          height: 252px;
        }
      }
    }
  }
  .footer {
    padding-bottom: 47px;
    &-name {
      font-size: 16px;
    }
    &-email {
      font-size: 16px;
      margin-right: 50px;
    }
    &-dev {
      font-size: 16px;
      margin-left: 50px;
    }
    &-link {
      margin-right: 40px;
      svg {
        width: 24px;
      }
      &-wrap {
        
      }
    }
  }
  
  .main-404 {
    padding: 236px 0px;
    &__title {
      font-size: 92px;
    }
    &__subtitle {
      font-size: 16px;
      margin-bottom: 67px;
    }
    &__btn {
      font-size: 18px;
      width: 274px;
      height: 80px;
      border: 1px solid #131218;
      border-radius: 43px;
    }
  }
}
//?



@media (max-width: 1400px) { //1200
  .nav {
    &-logo {
      img {
        width: 75%;
      }
    }
  }
  .exp {
    margin-bottom: 197px;
    &-wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &-text {
      margin-top: 37px;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 95%;
      }
    }
  }
  .patner {
    margin-bottom: 84px;
  }
  .discuss {
    &-wrap {
      padding-right: 56px;
    }
  }

}

@media (max-width: 1200px) { //992
  .focus {
    &-title {
      max-width: 517px;
    }
    &-card {
      padding: 125px 112px 125px 64px;
    }
    &-image {
      top: -50px;
      right: -50px;
      img {
        max-width: 102px;
      }
    }
  }
  .boost {
    padding: 250px 0 240px 0;
  }
}

@media (max-width: 992px) { //768 
  .exp {
    &-image {
      img {
        width: 100%;
      }
    }
  }
  .partner {
    // display: none;
  }
  .container-fluid {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
  .focus {
    &-title {
      max-width: 367px;
    }
    &-card {
      padding: 105px 52px 105px 52px;
    }
  }
  .work {
    &-wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-column {
      margin: 0;
    }
    &-item {
      &:last-child {
        margin-bottom: 21px;
      }
    }
  }
  .boost {
    padding: 150px 0 160px 0;
  }
  .discuss {
    height: 620px;
    &-wrap {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 0;
      padding-top: 52px;
    }
    &-title {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .footer {
    &-dev {
      font-size: 13px;
      margin-left: 25px;
    }
    &-email {
      margin-right: 30px;
    }
  }
}

@media (max-width: 768px) { //576 
  .nav { 
    padding: 29px 0 0px 0;
    &-toggle {
      display: flex;
      width: 22px;
      height: 18px;
    }
    &-logo {
      img {
        max-width: 152px;
      }
    }
    &-list {
      display: none;
      &__mob {
        display: flex;
      }
    }
    &-social {
      display: none;
      &__mob {
        display: flex;
      }
    }
  }
  // adaptive text
  .header {
    &-title {
      font-size: calc(34px + (106 + 106 * .7) * ((100vw / 320)/ 2560));
    }
    h3 {
      font-size: calc(14px + (18 + 18 * 0.7) * ((100vw - 320px) / 2560));
    }
  }
  .exp {
      &-title {
          font-size: calc(38px + (72 + 72 * 0.7) * ((100vw - 320px) / 2560));
      }
  }
  .focus {
    &-title {
      text-align: center;
      margin-top: 55px;
      font-size: calc(28px + (50 + 50 * 0.7) * ((100vw - 320px) / 2560));
    }
    &-card {
      flex-direction: column-reverse;
      padding: 35px 32px 45px 32px;
    }
  }
  .skills {
    &-card {
      font-size: calc(20px + (40 + 40 * 0.7) * ((100vw - 320px) / 2560));
    }
  }
  .work {
    padding-top: 100px;
    &-title {
      font-size: calc(32px + 43 * (100vw / 2560));
    }
  }
  .boost {
    padding: 110px 0 130px 0;
    &-title {
      font-size: calc(33px + 36 * (100vw / 2560));
    }
  }
  .discuss {
    &-title {
      font-size: calc(34px + 16 * (100vw / 1440));
    }
  }
  .footer {
    &-wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &-social {
      flex-direction: column;
      margin-bottom: 40px;
    }
    &-email {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

}
@media (max-width: 576px)  { //320
  .container,
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
  .nav {
    &-logo {
      img {
        max-width: 98px;
        width: 100%;
      }
    }
    &-toggle {
      span,
      &::after,
      &::before {
        height: 2px;
      }
    }
  }
  .header {
    padding: 93px 0 113px 0;
    &-name {
      margin-bottom: 20px;
    }
  }
  .exp {
    margin-bottom: 38px;
    &-title {
      margin-bottom: 20px;
    }
    &-descr {
      font-size: 16px;
      margin-top: 0px;
    }
    &-text {
      margin-bottom: 0;
    }
    &-image {
      img {
        width: 288px;
      }
    }
  }
  .partner {
    margin-bottom: 36px;
    &-wrap {
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }
    &-card {
      width: 92px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: 58px;
      }
    }
  }
  .mb0 {
    margin-bottom: 0;
  }
  .focus {
    padding: 24px 16px 24px 17px;
    &-card {
      padding: 45px 13px 36px 12px;
    }
    &-title {
      margin-top: 47px;
    }
  }
  .skills {
    padding-top: 30px;
    &-wrap {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-card {
      margin: 0 14px 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .work {
    padding-top: 28px;
    &-item {
      height: 380px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-title {
      margin-bottom: 36px;
    }
  }
  .boost {
    padding: 43px 0 64px 0;
    &-text {
      height: 359px;
    }
    &-btn {
      height: 80px;
      width: 100%;
    }
  }
  .discuss {
    height: 470px;
    &-wrap {
      padding-top: 33px;
    }
    &-title {
      margin-bottom: 25px;
    }
    &-btn {
      width: 270px;
      height: 270px;
      height: 296px;
      &:hover {
        .discuss {
          &-btn_1, &-btn_2, &-btn_3 {
            width: 193px;
            height: 193px;
          }
        }
      }
      &_hover {
        width: 198px;
        height: 198px;
        font-size: 22px;
        &::after { // внешний
          width: 270px;
          height: 270px;
        }
        &::before {
          width: 230px;
          height: 230px;
        }
      }
    }
  }
  .footer {
    padding-bottom: 28px;
    &-email,
    &-social {
      margin-bottom: 33px;
    }
    &-dev {
      margin-bottom: 20px;
      margin-left: 0;
      font-size: 15px;
    }
    &-block-wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  .menu {
    &-btn {
      width: 100%;
      height: 80px;
    }
    .container-fluid {
      margin: 0;
    }
    &-social {
      &-wrap {
        flex-direction: column;
      }
    }
    .nav {
      &-social {
        &__mob {
          margin-bottom: 32px;
        }
        &__link {
          svg {
            max-width: 32px;
            width: 32px;
          }
        }
      }
    }
  }

  .main-404 {
    padding: 134px 0px;
    &__title {
      font-size: 64px;
      margin-bottom: 6px;
    }
    &__subtitle {
      font-size: 14px;
      margin-bottom: 91px;
    }
    &__btn {
      font-size: 18px;
      width: 288px;
      height: 80px;
      border: 1px solid #131218;
      border-radius: 43px;
    }
  }
}