


@media (max-width: 1920px) {
  .exp {
    &-image {
      img {
        width: 90%;
      }
    }
  }
}
@media (max-width: 1440px) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}
  .nav {
    padding: 43px 0px 0px 0px;
    &-logo {
      img {
        max-width: 140px;
      }
    }
    &-list {
      &-item {
        margin-right: 69px;
        a {
          font-size: calc(12px + 8 * (100vw / 2560));
        }
        &__sale {
          font-size: 12px;
          width: 46px;
          height: 21px;
        }
      }
    }
    &-social {
      &__link {
        margin-right: 40px;
        img {
          width: 24px;
        }
      }
    }
  }
  .header {
    padding-top: 170px;
    &-title {
      font-size: calc(38px + 99 * (100vw / 2560));
    }
    h3 {
      font-size: calc(16px + 15 * (100vw / 2560));
    }
  }
  .exp {
    &-title {
      font-size: calc(38px + 67 * (100vw / 2560));
    }
    &-descr {
      font-size: calc(16px + 5 * (100vw / 2560));
    }
  }
}
@media (max-width: 1400px) { //1200
  .exp {
    margin-bottom: 197px;
    &-wrap {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &-text {
      margin-top: 37px;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 75%;
      }
    }
  }
  .patner {
    margin-bottom: 84px;
  }

}

@media (max-width: 1200px) { //992
  .nav {
    &-social {
      display: none;
    }
    &-logo {
      img {
        width: 75%;
      }
    }
  }
}

@media (max-width: 992px) { //768 
  .exp {
    &-image {
      img {
        width: 100%;
      }
    }
  }
  .partner {
    display: none;
  }
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 768px) { //576 
  .nav { 
    padding: 22px 0px 22px 0px;
    &-logo {
      img {
        max-width: 152px;
      }
    }
    &-list {
      display: none;
    }
  }
  // adaptive text
  .header {
    &-title {
      font-size: calc(37px + (100 + 100 * .7) * ((100vw - 320px)/ 2560));
    }
    h3 {
      font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 2560));
    }
  }
  .exp {
      &-title {
          font-size: calc(38px + (72 + 72 * 0.7) * ((100vw - 320px) / 2560));
      }
  }
  // adaptive text end
}
@media (max-width: 576px)  { //320
  .nav {
    &-logo {
      img {
        max-width: 102px;
      }
    }
  }
  .exp {
    &-title {
      margin-bottom: 20px;
    }
    &-descr {
      font-size: 16px;
    }
  }
}