

@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.css';

* {
    font-family: 'Carmen Sans';
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
span {
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}


@import 'blocks/header';
@import 'blocks/exp';
@import 'blocks/partner';




@media (max-width: 767px){
    .nav {
        &-list {
            &-item {
                a {
                    font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 2367));
                }
            }
        }
    }
    .exp {
        &-title {
            font-size: calc(38px + (80 + 80 * 0.7) * ((100vw - 320px) / 2367));
        }
    }
   }
@import 'base/media';