

@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.css';

* {
    font-family: 'Carmen Sans';
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    &:hover {
        text-decoration: none;
    }
}
span {
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding-left: 148px;
    padding-right: 148px;
}
.container {
    width: 100%;
    padding-left: 240px;
    padding-right: 240px;
    &-work {
        padding-left: 283px;
        padding-right: 283px;
    }
}
.text__animation_1 {
    transform: rotate(2deg) translateY(30px);
    transform-origin: 0 50%;
    position: relative;
    transition: .4s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
}
.text__animation_2 {
    transform: rotate(4deg) translateY(4px);
    transform-origin: 0 50%;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: .35s;
    transition-duration: .77s;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-delay: .2s;
        transition-duration: .90s;
        background-color: #fff;
    }
}

.text-anim {
    transform: rotate(0deg) translateY(0px);
    transform-origin: 0 50%;
    opacity: 1;
    &:before {
        bottom: -100%;
    }
}
.opacity-animate {
    opacity: 1!important;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: .2s;
    transition-duration: .6s;
}
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #131218;
    padding: 66px 40px 40px 40px;
    border-left: 0px solid #130EFF;
    &:hover {

    }
    &-none {
        border-left: 2000px solid #130EFF;
        transform: translateX(100%);
        transition-property: transform, border-left;
        transition-delay: 0s, 0.06s;
        transition-duration: 1.4s, 1.46s;
        transition-timing-function: cubic-bezier(.5,-0.03,.46,1.1), cubic-bezier(.5,-0.03,.46,1.1);
    }
    &-none {
        .preloader {
            width: 0%;
            &-title,
            &-timer {
                opacity: 0;
            }
        }
    }
    &-title {
        max-width: 515px;
        font-weight: 600;
        font-size: 92px;
        line-height: 111%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: .2s all;
    }
    &-timer {
        font-weight: 600;
        font-size: 32px;
        line-height: 111%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 40px;
        right: 40px;
        transition: .2s all;
    }
}

@keyframes preloader-width {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}
@keyframes preloader-border {
    from {
        border-left: 0px solid #130EFF;
    }

    to {
        border-left: 2000px solid #130EFF;
    }
}
.box {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid #444444;
    overflow: hidden;
}

.box-pointer {
    position: absolute;
}
.box-pointer-hidden {
    display: none;
}
.box-pointer2 {
    left: 0;
    right: 0;
    transition: 0ms cubic-bezier(0.1, 0.57, 0.1, 1);
}
@import 'blocks/header';
@import 'blocks/exp';
@import 'blocks/partner';
@import 'blocks/focus';
@import 'blocks/skills';
@import 'blocks/work';
@import 'blocks/boost';
@import 'blocks/discuss';
@import 'blocks/footer';
@import 'blocks/main-404';




@import 'base/media';