
.boost {
  padding: 310px 0 252px 0;
  &-wrap {

  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 630px;
  }
  &-title {
    font-weight: 600;
    font-size: 140px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #131218;
    max-width: 1412px;
    font-size: calc(38px + 102 * (100vw / 2560));
  }
  &-descr {
    font-size: 26px;
    line-height: 162%;
    letter-spacing: -0.015em;
    color: #34334F;
    font-size: calc(16px + 10 * (100vw / 2560));
    p {
      max-width: 850px;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 162%;
    letter-spacing: -0.015em;
    color: #131218;
    width: 449px;
    height: 132px;
    min-height: 132px;
    border: 2px solid #131218;
    border-radius: 70.6813px;
    position: relative;
    transition: .3s all;
    overflow: hidden;
    &_1 {
      background-color: #030313;
      transition: .4s cubic-bezier(.42,.0,.58,1);
    }
    &_2 {
      background-color: #2F2CE9;
      transition: .5s cubic-bezier(.42,.0,.58,1);
      transform: translateX(-10px);
      left: -100px!important;
    }
    &_1,
    &_2 {
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 80.6813px;
    }
    &::after {
      left: 12%;
    }
    &::before {
      right: 12%;
    }
    &::before,
    &::after {
      content: '🔥';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: .32s cubic-bezier(.25,.1,.25,1);
    }
    &:hover {
      color: #fff;
      border: 1px solid transparent;
      transition: .32s cubic-bezier(.25,.1,.25,1);
      &::before,
      &::after {
        opacity: 1;
      }
      .boost-btn_1,
      .boost-btn_2 {
        width: 100%;
        // animation: log 1s cubic-bezier(.25,.1,.25,1);
        // animation-iteration-count: 3;
      }
      .boost-btn_1 {
        // animation: loga 1s cubic-bezier(.25,.1,.25,1) normal;
      }
      .boost-btn_2 {
        // animation: log 1s cubic-bezier(.25,.1,.25,1) normal;
        // animation-delay: 0.1s;
        transform: translateX(0px);
        left: 0!important;
      }
    }
  }
}

// @keyframes log {
//   0% {
//     width: 0%;
//     transition: .5s cubic-bezier(.42,.0,.58,1);
//   }
//   100% {
//     width: 100%;
//     transition: .5s cubic-bezier(.42,.0,.58,1);
//   }
// }
// @keyframes loga {
//   0% {
//     width: 0%;
//     transition: .7s cubic-bezier(.42,.0,.58,1);
//   }
//   100% {
//     width: 100%;
//     transition: .7s cubic-bezier(.42,.0,.58,1);
//   }
// }