
.exp {
  padding-bottom: 197px;
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-text {
    margin-right: 190px;
  }
  &-image {
    img {

    }
  }
  &-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #1D1A23;
    max-width: 470px;
    margin-bottom: 35px;
  }
  &-descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 162%;
    letter-spacing: -0.015em;
    color: #1D1A23;
    p {
      max-width: 492px;
    }
  }
}