
.exp {
  margin-bottom: 323px;
  height: 100vh;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-text {

  }
  &-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      max-width: 996px;
    }
  }
  &-title {
    font-weight: 600;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #1D1A23;
    margin-bottom: 35px;
    font-size: calc(38px + 72 * (100vw / 2560));
  }
  &-descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 162%;
    letter-spacing: -0.015em;
    color: #1D1A23;
    font-size: calc(16px + 10 * (100vw / 2560));
    p {
      max-width: 697px;
    }
  }
}