
.focus {
  background: #131218;
  mix-blend-mode: normal;
  padding: 95px 148px 95px 148px;
  &-card {
    background: #FFFFFF;
    border-radius: 8.21875px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 260px 473px 260px 120px;
  }
  &-title {
    font-weight: 600;
    line-height: 135.5%;
    letter-spacing: -0.02em;
    color: #131218;
    max-width: 988px;
    font-size: calc(32px + 46 * (100vw / 2560));
  }
  &-pepe {

  }
  &-image {

  }
  &-btn {
    width: 203px;
    height: 202px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
    }
    &::before { // внутрений круг
      width: 133px;
      height: 132px;
      border: 1.64375px solid rgba(47, 44, 233, 0.205);
    }
    &::after { // внешний круг
      border: 1.64375px solid rgba(47, 44, 233, 0.103);
      width: 203px;
      height: 202px;
    }
    span {
      display: block;
      width: 59px;
      height: 58px;
      background: #2F2CE9;
      border-radius: 100%;
      position: relative;
    }
  }
}