
.focus {
  background: #131218;
  mix-blend-mode: normal;
  padding: 95px 148px 109px 148px;
  &-card {
    background: #FFFFFF;
    border-radius: 8.21875px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 260px 473px 260px 120px;
  }
  &-title {
    font-weight: 600;
    line-height: 135.5%;
    letter-spacing: -0.02em;
    color: #131218;
    max-width: 988px;
    font-size: calc(32px + 46 * (100vw / 2560));
  }
  &-pepe {
    position: relative;
    &:hover {
      .focus-image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-image {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: -100px;
    right: -110px;
    transition: .3s all;
    img {
      max-width: 184px;
    }
  }
  &-btn {
    width: 203px;
    height: 202px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .focus-image {
        opacity: 1;
        visibility: visible;
      }
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      border-radius: 100%;
    }
    &::before { // внутрений круг
      width: 133px;
      height: 132px;
      border: 1.64375px solid rgba(47, 44, 233, 0.205);
      animation: focus-btn 3s infinite ease;
    }
    &::after { // внешний круг
      border: 1.64375px solid rgba(47, 44, 233, 0.103);
      width: 203px;
      height: 202px;
      animation: focus-btn 3s infinite ease;
    }
    span {
      display: block;
      width: 59px;
      height: 58px;
      background: #2F2CE9;
      border-radius: 100%;
      z-index: 10;
      position: relative;
    }
  }
}

@keyframes focus-btn {
  0% {
    transform:  scale(1);
    opacity: 1;
  }
  50% {
    transform:  scale(0.9);
    opacity: 0.64;
  }
  100% {
    transform:  scale(1) ;
    opacity: 1;
  }
}