.nav {
  padding: 64px 0px 0px 0px;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    img {
      max-width: 200px;
    }
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    &-item {
      margin-right: 121px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: normal;
        font-size: 26.3px;
        font-size: calc(16px + 4 * (100vw / 2560));
        line-height: 111%;
        color: #1D1A23;
      }
      &__sale {
        cursor: default;
        font-weight: bold;
        font-size: 20px;
        line-height: 111%;
        color: #FFFFFF;
        width: 78px;
        height: 35px;
        background: #FA4A4A;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
      }
    }
  }
  &-social {
    &__link {
      margin-right: 63px;
      &:last-child {
        margin-right: 0;
      }
      img {
        max-width: 40px;
      }
    }
  }
}
.header {
  padding-top: 267px;
  padding-bottom: 431px;
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-name {
    margin-bottom: 25px;
  }
  &-title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: calc(38px + 102 * (100vw / 2560));
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #1D1A23;

  }
  &-subtitle {

  }
  h3 {
    font-weight: normal;
    line-height: 113.5%;
    color: #1D1A23;
    font-size: calc(16px + 16 * (100vw / 2560));
  }
}